* {
    margin: 0;
    padding: 0
}

h1 {
    font-size: 4.0em;
    margin: 10px 0 20px 10px;
    color: #6587ac;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.canvas {
    width: 960px;
    height: auto;
    margin-left: 450px;
    margin-right: 450px;
    background: #fff;
}

/* ================================= start splash screen CSS ============================= */
.splash-screen {
    background: url("../images/splash-screen.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9999;
    top: 0px;
}

.main-container {
    width: 1920px;
    height: 1080px;
}

/* ================================= end splash screen CSS ============================= */


/* ================================= start home screen CSS ============================= */

.home-container {
    width: 1920px;
    height: 1080px;
    color: #fff;
}

.row-container-inner {
    display: flex;
    padding-top: 24px;
}

.menu-list {
    padding: 12px;
}

.category-list {
    display: flex;
    font-size: 30px;
}

.images-container {
    width: 1920px;
    height: 500px;
}

.image-thumnails {
    width: 1880px;
    height: 498px;
    /* padding: 60px; */
    padding-left: 20px;
    padding-right: 20px;
}
.img-thumnails{
    width: 198px;
    height: 219px;
}
.right-list-container {
    padding-left: 23px;
}

li.menu-item {
    height: 71px;
    text-align: center;
    background-color: #ccc;
    display: inline-grid;
    font-size: 24px;
    font-family: 'Copperplate_Gothic_Bold';
}

.item-cat {
    padding: 10px;
}

.menu-cat{
    background-color: #ccc;
    padding: 21px;
}
.menu-cat:focus{
    border-color:2px solid #8a1212;
    padding: 21px;
}
.outer-heading {
    font-size: 34px;
}

.cat-img-thumnails {
    width: 400px;
    height: 231px;

}
.watch-heading {
    color: #fff;
    z-index: 999;
    left: 38px;
    position: absolute;
    top: 383px;
}

/* ================================= end home screen CSS ============================= */