html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    z-index: 1;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    overflow: hidden;
    background: #2f2f31;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.horizontal-line {
    border: 2px solid red;
    display: block;
    height: 702px;
    margin-top: 155px;
    position: absolute;
    animation: mymove 1800s infinite;
    animation-timing-function: linear;
}

@keyframes mymove {
    from {
        left: 217px;
    }

    to {
        left: 670px;
    }
}


/** Start of font family **/

@font-face {
    font-family: 'Poppins-Regular';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('../fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('../fonts/Poppins-Bold.ttf') format('truetype');
}


.splash-screen {
    background: url("../images/splash-screen.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9999;
    top: 0px;
}


/* ====================================log-in screen=========================== */
.main-container {
    width: 1920px;
    height: 1080px;
    position: relative;
    left: 0;
    top: 0;
}

.background_box {
    position: absolute;
    width: 1920px;
    height: 1080px;
    z-index: 1;
}

.background_layerbox {
    position: absolute;
    width: 1920px;
    height: 1080px;
    z-index: 3;
}

img.background_imgbox {
    position: absolute;
    width: 1920px;
    height: 1080px;
    z-index: 2;
}


.header {
    position: fixed;
    z-index: 9;
    width: 100%;
}

.navigation_box {
    width: 1720px;
    margin: 46px auto;
    clear: both;
    display: table;
}

.navbar {
    float: right;
    padding-bottom: 20px;
    position: relative;
    margin-top: 40px;
}

.nav_box {
    float: left;
    width: 190px;
    height: 60px;
    border-bottom: 3px solid transparent;
    margin: 2px;
}

img.border_bottom {
    position: absolute;
    bottom: 0px;
    width: 155px;
    left: 0px;
    display: none;
}

.nav_box:first-child {
    margin-right: 20px;
}

.nav_box .menu_box {
    width: 190px;
    height: 56px;
    background: #2f2f31;
    padding: 3px;
    padding-bottom: 0;
    padding-left: 14px;
}

.nav_box img {
    margin-right: 20px;
    width: 38px;
    height: 38px;
    vertical-align: middle;
}

.nav_box span {
    font-size: 32px;
    color: #fff;
    font-family: 'poppins-Medium';
    display: inline-block;
    vertical-align: middle;
}

li.selected_menu {
    /* border-bottom: 2px solid green; */
    background: linear-gradient(to right, #28a14aed, #1373b7);
}

.logo_box {
    float: left;
}

.header_logo {
    width: 206px;
    height: 100%;
}


/* ============================start of Home container =========================== */
.home_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    background: #2f2f31;

}

.banner_box {
    margin-top: 350px;
    margin-left: 100px;
}

ul.home_inner {
    clear: both;
    display: table;
}

li.main_heading {
    font-size: 84px;
    font-family: 'poppins-bold';
    color: #fff;
    text-shadow: -10px 8px 15px rgba(0, 0, 0, 0.57);
}

li.sub_heading {
    font-size: 84px;
    color: #fff;
    margin-top: 35px;
    font-family: 'poppins-regular';
    text-shadow: -10px 8px 15px rgba(0, 0, 0, 0.57);
}

li.details_text {
    clear: both;
    margin-top: 40px;
    display: table;
}

.details_text img {
    float: left;
    margin-top: 8px;
}

li.details_text span {
    font-size: 33px;
    color: #fff;
    font-family: 'poppins-Semibold';
    margin-left: 20px;
    margin-top: 10px;
    display: inline-block;
}

li.live_btn {
    float: left;
    position: relative;
    width: 470px;
    height: 89px;
    margin-top: 120px;
    padding: 4px;
    background: linear-gradient(to right, #28a14aed, #1373b7);
    border-radius: 65px;
    padding: 3px
}

.live_btn .live_icon {
    margin-left: 78px;
    margin-top: 6px;
    float: left;
}

.live_btn span {
    color: #fff;
    font-family: 'poppins-SemiBold';
    font-size: 60px;
    display: inline-block;
    margin-top: 12px;
    margin-left: 50px;
}

img.live_icon_border {
    position: absolute;
    left: 0;
}

li.radio_btn {
    position: relative;
    margin-top: 120px;
    width: 470px;
    height: 89px;
    float: left;
    padding: 4px;
    background: linear-gradient(to right, #28a14aed, #1373b7);
    border-radius: 65px;
    margin-left: 25px;
    padding: 3px;
}

.radio_btn .radio_icon {
    margin-left: 55px;
    margin-top: 5px;
    float: left;
}

.radio_btn span {
    color: #fff;
    font-family: 'poppins-SemiBold';
    font-size: 60px;
    display: inline-block;
    margin-top: 12px;
    margin-left: 40px;
}

.radio_btn .radio_icon_border {
    position: absolute;
    left: 0;
    top: 0;
}

.home_btn {
    background: #2f2f31;
    width: 460px;
    height: 85px;
    border-radius: 65px;
    margin: 0 auto;
    margin-top: 2px;
}

li.live_btn:focus .home_btn {
    background: transparent;
}

li.radio_btn:focus .home_btn {
    background: transparent;
}

/* =====================================radio-screen========================= */
.radio_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    background: #2f2f31;
    display: none;
}

.radio_inner_box {
    width: 1720px;
    margin: 0px auto;
    clear: both;
    display: table;
    margin-top: 235px;
}

.poster_box {
    float: left;
    position: relative;
    width: 900px;
    height: 700px;
}

.poster_box img {
    width: 806px;
    height: 698px;
    border-radius: 40px;
}

.about_img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 807px;
    height: 190px;
    /* background-color: rgb(255 255 255 / 70%); */
    border-radius: 0px 0px 40px 40px;
}

.poster_heading {
    font-size: 32px;
    font-family: 'poppins-bold';
    color: #fff;
    text-align: center;
    padding: 0px 10px;
    background: #000000;
    border-radius: 0px 0px 17px 17px;
}

.poster_disc {
    font-size: 20px;
    font-family: 'poppins-regular';
    max-width: 770px;
    margin: 0px auto;
    line-height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: none;
}

.right_content {
    height: 698px;
    overflow: hidden;
}

ul.channel_list {
    height: 10000000000px;
}

li.listing {
    background: #2f2f31;
    clear: both;
    display: table;
    height: 141px;
    margin-top: 8px;
    margin-bottom: 40px;
    width: 100%;
}

li.listing .music_list_box {
    height: 138px;
    background: #2f2f31;
    padding-left: 130px;
}

.img_box {
    background: #2f2f31;
    width: 100px;
    height: 141px;
    position: absolute;
}

ul.channel_list li.listing:focus {
    background: linear-gradient(to right, #28a14aed, #1373b7);
}

img.play_icon {
    width: 75px;
    height: 75px;
    float: left;
    margin-right: 45px;
    margin-top: 30px;
}

img.list_thumbnail {
    width: 140px;
    height: 130px;
    float: left;
    margin-right: 40px;
    border-radius: 20px;
}

.list_disc {
    margin-top: 55px;
    float: left;
    font-size: 30px;
    color: #fff;
    font-family: 'poppins-medium';
    width: 506px;
    line-height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.radio_player_container {
    width: 100%;
    height: 140px;
    color: #fff;
    text-align: center;
}

.sidefill {
    width: 100%;
    height: 8px;
    background: red;
}

.sidescroll_time {
    font-size: 40px;
    position: relative;
    top: 60px;
    background: #000000;
    width: 100px;
    margin: 0 auto;
    padding: 7px;
    border-radius: 7px;
}

.marquee {
    width: 100%;
    overflow: hidden;
    height: 50px;
    padding-top: 10px;
}

.sidescrollbar {
    margin-bottom: 10px;
    position: absolute;
    top: -107px;
    width: 100%;
}

.sidescrollbar img {
    width: 100%;
    height: auto;
}

.audio-paly-pause img {
    width: 50px;
    height: 50px;
}



/* ===================================About-container============================== */


.about_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    background: #2f2f31;
    display: none;
}

.about_inner_container {
    width: 1720px;
    margin: 0px auto;
    clear: both;
    display: table;
    margin-top: 235px;
    position: relative;
}

.About_heading {
    text-align: center;
    color: #fff;
    font-size: 60px;
    font-family: 'poppins-bold';
    margin-top: 40px;
    margin-bottom: 60px;
}

.about_content_border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.about_text {
    color: #fff;
    font-size: 32px;
    font-family: 'poppins-regular';
    line-height: 1.7;
    max-width: 1596px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    /* -webkit-box-orient: vertical; */
    margin: 0 auto;
    height: 375px;
}